form {
  max-width: 594px;
  height: 692px;
  margin: 20px auto;
  padding: 40px 60px 40px 60px;
  display: block;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  /* background: #ffff; */
  background: red;

  font-family: Arial, sans-serif;
}

form > div {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input,
field,
textarea {
  display: block;
  width: 100%; 
  padding: 10rem;
  border-bottom: 2px solid #f1f1f1;
  border-radius: 10px;
  outline: none;
}

button {
  display: block;
  margin-top: 10px;
  height: 44px;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  /* background: #530054; */
  /* background: red; */
  background: blue;
  padding: 2rem 1rem;
}

.error {
  color: red;
}
